* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
}

.toastbox {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  align-items: flex-end;
  gap: 10px;
}

.toast {
  display: flex;
  background-color: #000;
  color: #f5f3f3;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  opacity: 0;
  transform: translateX(100%);
  animation: moveInRight 0.5s ease-in-out forwards;
}

.toast.out {
  animation: moveOutRight 0.5s ease-in-out forwards;
}

.toast i {
  font-size: 16px;
  margin-right: 10px;
}

.toast.success {
  background-color: #146912;
}

.toast.error {
  background-color: #b10606;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}