* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.toastbox {
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.toast {
  display: flex;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  opacity: 0;
  transform: translateX(100%);
  animation: moveInRight 0.5s ease-in-out forwards;
}

.toast.out {
  animation: moveOutRight 0.5s ease-in-out forwards;
}

.toast i {
  font-size: 16px;
  margin-right: 10px;
}

.toast.success {
  background-color: #d4edda;
  color: #155724;
}

.toast.success i {
  color: #28a745;
}

.toast.info {
  background-color: #d1ecf1;
  color: #0c5460;
}

.toast.info i {
  color: #17a2b8;
}

.toast.error {
  background-color: #f8d7da;
  color: #721c24;
}

.toast.error i {
  color: #dc3545;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}